*{
    margin: 0;
    padding: 0;
}
#container {
    width: 100%;
    background-color:aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#para{
    padding: 20px;
}
ul{
    padding: 20px;
}
#example{
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
}
#example_code{
    border-left: 5px solid;
    padding: 10px;
    background-color: azure;
}
#example_run{
    border: 2px solid;
    
}