*{
    margin: 0;
    padding: 0;

}

#container {
    width: 100%;
    background-color:aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#para{
    padding: 20px;
}
#container1{
    border: 2px solid;
    border-radius: 10px;
    height: 300px;
}
#container_heading{
    margin: 20px;
}
#container_code{
    background-color: azure;
    margin: 20px;
    border-left: 5px solid;    
}
#container_run{
    margin-left: 20px;
    border:2px solid;
    width: 24%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(47, 186, 232);
}
a{
    text-decoration: none;
    color:black
}
#example{
    border: 2px solid;
    height: 200px;
    border-radius: 10px;
}
#example_code{
    padding: 20px;
}
#example1{
    border: 2px solid;
    border-radius: 10px;

}
#button{
    display: flex;
    justify-content:space-around;
}
#click{
    border: 2px solid;
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    background-color:rgb(47, 186, 232);
}
#example_code{
    background-color: azure;
    margin: 20px;
    border-left: 5px solid;
}